langchain
langchain-core
langchain-openai 
openai
langchain-anthropic
langchain-google-genai
langchain-huggingface
google-generativeai
huggingface-hub
transformers
python-dotenv
numpy 
scikit-learn
chromadb
rank_bm25
sentence_transformers